.wrapper {
  display: flex;
  
  margin-top: 1rem;
  padding: 0.75rem;

  width: 38rem;
  min-height: 4.5rem;

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  background-color: var(--gray-800);
}

.wrapper span {
  font-weight: bold;
}

.hiddenWrapper {
  display: none;
}

.emptyIssuesList {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.issues {
  padding-bottom: 1rem;
}

.issuesWrapper {
  margin-bottom: -1rem;
}