.wrapper {
  display: flex;
  
  margin-top: 1rem;
  padding: 0.75rem;

  width: 38rem;
  min-height: 4.5rem;

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  background-color: var(--gray-800);
}

.wrapper span {
  font-weight: bold;
}

.hiddenWrapper {
  display: none;
}

.emptyIssuesList {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.issues {
  padding-bottom: 1rem;
  width: 36rem;
}

.issuesWrapper {
  margin-bottom: -1rem;
}

p {
  color: var(--gray-500);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .wrapper {
    width: 26rem;
  }

  .issues p {
    width: 24rem;
  }
}